<nav class="navbar bg-light mb-3">
  <div class="container d-flex align-items-center justify-content-between">
    <div></div>
    <!-- <span class="navbar-brand nav-btn mb-0 h1 mx-auto">OTP Authenticator App</span> -->

    <ng-template #guestLinks>
      <div>
        <!-- <button class="btn btn-primary me-2" routerLink="/">Login</button>
        <button class="btn btn-primary" routerLink="/register">Signup</button> -->
      </div>
    </ng-template>
  </div>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>
